
/* Import Bootstrap */
@import (reference) "bootstrap/bootstrap.less";

/* LESS Variables */

@inverse-text: #fff;

.no-underline {
  text-decoration: none;
}


body {
  padding-top: 50px;
}

.margin-right {
  margin-right: 5px;
}

/* Have the mobile navbar menu toggle on the left instead of right. */
.navbar-toggle {
  float: left;
  margin-left: 15px;
  margin-right: 0;
}

.post-listing .post {
  margin-bottom: 20px;
  padding-top: 5px;
  border-top: 1px solid @hr-border;
}

.post .user-profile {
  margin-top: 27px;
}

.post footer {
  margin-top: 20px;
  padding-top: 10px;
  border-top: 1px solid @hr-border;
}

.post footer a:hover {
  .no-underline;
}

.inline-centre {
  margin: 0 auto;
  display: inline-block;
}

.avatar {
  position: relative;
  display: inline-block;
}

.avatar img {
  background: #fff;
}

.in-reply-to {
  display: block;
  position: relative;
  top: -5px;
  padding: 4px 9px;
  border: 1px solid @hr-border;
  border-top: 0;
}

.in-reply-to:hover {
  .no-underline;
}

.overlay {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 3px 6px 2px;
  color: @inverse-text;
  background: black;
  background: rgba(0, 0, 0, 0.7);

  .small;
}
